<section className="flex">
  <div className="bg-dark-purple py-5 px-2 text-gray-300 w-20 md:w-80 h-screen sticky top-0 left-0 right-0 ">
    {quizHistory.quizResults &&
      quizHistory.quizResults.map((quiz) => (
        <>
          <div
            id={quiz.sessionId}
            className={`cursor-pointer flex px-2 my-5 ${
              quiz.sessionId === selected
                ? "border-l-4 border-l-green-400"
                : ""
            } `}
            onClick={() => handleShowMore(quiz.sessionId)}
            key={quiz.sessionId}
          >
            <div className="bg-contain w-8 mr-2">
              <img
                src={
                  quiz?.quizType === "javascript"
                    ? jsimg
                    : quiz?.quizType === "react"
                    ? reactimg
                    : quiz?.quizType === "express"
                    ? expressimg
                    : quiz?.quizType === "mongodb"
                    ? mongodbimg
                    : quiz?.quizType === "node"
                    ? nodeimg
                    : ""
                }
              />
            </div>
            <div>
              <h4>{`Result: ${quiz?.resultPercentage}`}</h4>
              <h6 className="text-xs">
                {" "}
                {new Date(quiz?.createdOn).toUTCString()}
              </h6>
            </div>
          </div>
          <hr />
        </>
      ))}
  </div>
  <div className="lg:w-4/5 md:w-1/2 object-cover object-center rounded-lg md:mt-0 mt-12 md: p-2">
    <CheckAllAnswersResult allQues={result} />
  </div>
</section>