.register-container {
    position: fixed;
    inset: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  .show {

    position: fixed;
 
    z-index: 1;
    background-color: transparent;
    animation: scaleOut 2s forwards;
  }